@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    /* background: pink; */
    font-family: 'Poppins', sans-serif;
    background: url("background.png");
    background-size: cover;
    background-position: top center;
}

* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1 {
    font-size: 64px;
    font-weight: bold;
    padding: 0px 0px 16px 0px;
    //margin: 16px 20px 16px 20px;
    //background-color: wheat;
}

p {
    font-size: 20px;
}

.hero-image {
    width: 300px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: magenta;
}

a:active {
    color: purple;
}

a:visited {
    color: red;
}

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content {
    width: 40%
}

.hero-text {
    
}

.hero-image {
   
}